#page1 {
    display: block;
}

#page2 {
    display: none;
}

#page3 {
    display: none;
    height: 100%;
    overflow: hidden;
}

#debug {
    display: none;
}

/*drawing section*/
#drawing_section {
    float: left;
    height: 100%;
    width: 70%;
}

#tool_bar {
    width: 100%;
    height: 200px;
}

#canvas {
    border: 1px solid black;
    width: 100%;
    height: 500px;
}

/*splitter*/
#splitter {
    float: left;
    width: 2%;
    height: 1px;
}

/*Chat box session*/
#chat_box {
    float: left;
    width: 25%;
    height: 500px;
}

#chat_screen {
    width: 100%;
    /*height: 400px;*/
    height: 200px;
    max-height: 500px;
    border: 1px solid #000000;
    overflow-y: scroll;
    margin-bottom: 5px;
}

#chat_message {
    width: 100%;
    height: 20px;
}